body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1049px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:146px;
  background:inherit;
  background-color:rgba(239, 239, 239, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:384px;
  width:730px;
  height:146px;
}
#u997_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:416px;
  width:672px;
  height:21px;
  font-family:'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u998_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  white-space:nowrap;
}
#u999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:40px;
  background:inherit;
  background-color:rgba(245, 124, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:465px;
  width:117px;
  height:40px;
  font-family:'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
}
#u999_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u1000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
  background:inherit;
  background-color:rgba(245, 124, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:465px;
  width:188px;
  height:40px;
  font-family:'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
}
#u1000_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:184px;
  word-wrap:break-word;
}
