.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.heading_1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.shape {
}
.text_field {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.html_button {
  text-align:center;
}
.tree_node {
  text-align:left;
}
.table_cell {
}
.marker {
  color:#FFFFFF;
}
.flow_shape {
}
.image {
}
.box_1 {
}
.box_3 {
}
.ellipse {
}
.label {
  font-size:14px;
  text-align:left;
}
.line {
}
.primary_button {
  color:#FFFFFF;
}
.icon {
}
.ellipse1 {
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
}
.shape1 {
}
.image1 {
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
}
.paragraph1 {
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.box_11 {
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.label1 {
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.materialicons {
  font-family:'Material Icons Regular', 'Material Icons';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
.line1 {
}
.raised_button {
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
.flat_button {
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#2196F3;
}
.text_field1 {
  color:#000000;
  text-align:left;
}
.primary_text_dark {
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.866666666666667);
  text-align:left;
}
.heading_21 {
  font-family:'Roboto';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.horizontal_line {
}
.heading_11 {
  font-family:'Roboto';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
